.grafPieChart {
  background-color: #faf8f8;
}

.axisY {
  font-size: 15px;
  font-family: "Segoe UI",Arial,sans-serif;
}

.axisX {
  font-size: 15px;
  font-family: "Segoe UI",Arial,sans-serif;
}

.axisX text {
  transform: rotate(-45deg);
  text-anchor: end;
}


.labels {
  font-size: 22px;
  font-family: "Segoe UI",Arial,sans-serif;
  color: #ff0023;
}

.tooltip {
  background: #00000099;
  color: #ffffff;
  font-size: 15px;
  font-family: "Segoe UI",Arial,sans-serif;
  border-radius: 3px;
  padding: 10px;
  width: 200px;
}